#forest {
    height: 250px;
    width: 250px;
}

.forest-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    grid-auto-rows: minmax(75px, auto);
}

.forest-cube {
    border: 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.forest-cube i {
    font-size: 3.5em;
}